<%= form_for(@caller) do |f| %>
  <% if @caller.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@caller.errors.count, "error") %> prohibited this caller from being saved:</h2>

      <ul>
      <% @caller.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :device %><br />
    <%= f.text_field :device %>
  </div>
  <div class="field">
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
